{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
    <main>
        <h1>À propos de ce site</h1>
        <p>Voici la page de présentation.</p>
    </main>
{% endblock %}