{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <main>
        <h1>Bienvenue sur la page d'accueil</h1>
        <p>Ceci est le contenu du template enfant.</p>
    </main>
{% endblock %}
